.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}

.header_left {
  display: flex;
}

.header_serach {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 22px;
  color: gray;
  border-radius: 5px;
  background-color: #eef3f8;
}

.header_serach > input {
  outline: none;
  border: none;
  background: none;
}

.header_right {
  display: flex;
}

.logo-content {
  width: 40px;
  margin-right: 10px;
}

.head-logo {
  background-color: rgba(5.49%, 46.27%, 65.88%);
  color: white;
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
}
